<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU8mWzgV6wXWISlV0mev00VH3tGWbXXo4</string>
	<key>GCM_SENDER_ID</key>
	<string>269763470868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vpnUiDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vpnapp-7299a</string>
	<key>STORAGE_BUCKET</key>
	<string>vpnapp-7299a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269763470868:ios:f02c1492974d80241fa901</string>
</dict>
</plist>